.App {
  background-color: #00d2ff;
  background: linear-gradient(to bottom right, #00d2ff, #3a7bd5);
  height: 100%;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

button {
  position: relative;
  outline: 0;
}

button:active {
  top: 1px;
}